In [32]:
## Importa bibliotecas necessárias
from plyer import notification
from datetime import datetime
import numpy as np
import pandas as pd
import requests
from funcoes import *
import time

In [34]:
df_estados = carregar_dados_estados()

In [35]:
df_cidades = pd.DataFrame(columns = ['Nome Cidade', 'Cód. IBGE Cidade', 'Sigla Estado'])
for estado in df_estados['sigla']:
    df_aux = carregar_dados_cidades(estado)
    df_aux['Sigla Estado'] = estado
    df_aux.columns = ['Nome Cidade', 'Cód. IBGE Cidade', 'Sigla Estado']
    df_cidades = pd.concat([df_cidades, df_aux], ignore_index= True)
df_cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nome Cidade       5570 non-null   object
 1   Cód. IBGE Cidade  5570 non-null   object
 2   Sigla Estado      5570 non-null   object
dtypes: object(3)
memory usage: 130.7+ KB

In [36]:
# Cria uma base de dados de todos os DDDs nacionais
# Obs: Para evitar tentar buscar DDDs inválidos, foi pesquisado quais são os DDDs válidos atuais e são extraídas informações somente destes DDDs
df_DDD = pd.DataFrame(columns = ['Estado', 'Cidade', 'DDD'])
DDDs_validos = ['11', '12', '13', '14', '15', '16', '17', '18', '19', '21', '22', '24', '27', '28', '31', '32', '33', '34', '35', '37', '38', '41', '42', '43', '44', '45', '46', '47', '48', '49', '51', '53', '54', '55', '61', '62', '63', '64', '65', '66', '67', '68', '69', '71', '73', '74', '75', '77', '79', '81', '82', '83', '84', '85', '86', '87', '88', '89', '91', '92', '93', '94', '95', '96', '97', '98', '99']
for i in DDDs_validos:
    df_aux = carregar_info_DDDs(i)
    if type(df_aux) == tuple:
        pass
    else:
        df_aux['DDD'] = i
        df_aux.columns = ['Estado', 'Cidade', 'DDD']
        df_DDD = pd.concat([df_DDD, df_aux], ignore_index = True)
        time.sleep(1)
    
df_DDD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5565 entries, 0 to 5564
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Estado  5565 non-null   object
 1   Cidade  5565 non-null   object
 2   DDD     5565 non-null   object
dtypes: object(3)
memory usage: 130.6+ KB

In [43]:
df_pop = pd.read_excel('POP2022_Municipios_20230622.xls', sheet_name='Municípios', header=1)
df_pop = df_pop.dropna(subset = 'POPULAÇÃO')

In [44]:
df_pop['COD. UF'] = df_pop['COD. UF'].astype(int).astype(str)
df_pop['COD. MUNIC'] = df_pop['COD. MUNIC'].astype(int).astype(str)
df_pop['POPULAÇÃO'] = df_pop['POPULAÇÃO'].astype(str)
df_pop['POPULAÇÃO'] = df_pop['POPULAÇÃO'].str.replace(r'[^0-9]', '', regex=True).astype(int)

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UF                 5570 non-null   object
 1   COD. UF            5570 non-null   object
 2   COD. MUNIC         5570 non-null   object
 3   NOME DO MUNICÍPIO  5570 non-null   object
 4   POPULAÇÃO          5570 non-null   int32
dtypes: int32(1), object(4)
memory usage: 239.3+ KB

In [45]:
df_pop.tail(15)

      UF COD. UF COD. MUNIC    NOME DO MUNICÍPIO  POPULAÇÃO
5555  GO      52      21403             Trindade     149167
5556  GO      52      21452              Trombas       3123
5557  GO      52      21502             Turvânia       4462
5558  GO      52      21551          Turvelândia       4847
5559  GO      52      21577             Uirapuru       3874
5560  GO      52      21601               Uruaçu      43728
5561  GO      52      21700               Uruana      13681
5562  GO      52      21809               Urutaí       3119
5563  GO      52      21858  Valparaíso de Goiás     196967
5564  GO      52      21908               Varjão       3720
5565  GO      52      22005           Vianópolis      14046
5566  GO      52      22054       Vicentinópolis       8776
5567  GO      52      22203             Vila Boa       3686
5568  GO      52      22302        Vila Propício       5646
5569  DF      53        108             Brasília    2923369

In [40]:
df_cidades.tail(15)

              Nome Cidade Cód. IBGE Cidade Sigla Estado
5555             TRINDADE          5221403           GO
5556              TROMBAS          5221452           GO
5557             TURVÂNIA          5221502           GO
5558          TURVELÂNDIA          5221551           GO
5559             UIRAPURU          5221577           GO
5560               URUAÇU          5221601           GO
5561               URUANA          5221700           GO
5562               URUTAÍ          5221809           GO
5563  VALPARAÍSO DE GOIÁS          5221858           GO
5564               VARJÃO          5221908           GO
5565           VIANÓPOLIS          5222005           GO
5566       VICENTINÓPOLIS          5222054           GO
5567             VILA BOA          5222203           GO
5568        VILA PROPÍCIO          5222302           GO
5569             BRASÍLIA          5300108           DF

In [46]:
df_DDD.tail(15)

     Estado                   Cidade DDD
5550     MA               BURITIRANA  99
5551     MA             BURITI BRAVO  99
5552     MA                BOM LUGAR  99
5553     MA       BERNARDO DO MEARIM  99
5554     MA           BENEDITO LEITE  99
5555     MA           BARRA DO CORDA  99
5556     MA          BARÃO DE GRAJAÚ  99
5557     MA                   BALSAS  99
5558     MA                  BACABAL  99
5559     MA                    ARAME  99
5560     MA     AMARANTE DO MARANHÃO  99
5561     MA            ALTO PARNAÍBA  99
5562     MA  ALTO ALEGRE DO MARANHÃO  99
5563     MA            ALDEIAS ALTAS  99
5564     MA               AÇAILÂNDIA  99