In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('realtor-data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   status          100000 non-null  object
 1   bed             75050 non-null   float64
 2   bath            75112 non-null   float64
 3   acre_lot        85987 non-null   float64
 4   city            99948 non-null   object
 5   state           100000 non-null  object
 6   zip_code        99805 non-null   float64
 7   house_size      75082 non-null   float64
 8   prev_sold_date  28745 non-null   object
 9   price           100000 non-null  float64
dtypes: float64(6), object(4)
memory usage: 7.6+ MB

In [12]:
# df.dropna(subset = ['status', 'city', 'state']) # Formato não automatizado
var_categoria = list(df.columns[df.dtypes == 'object'].values)
df = df.dropna(subset = var_categoria)
df

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
684,for_sale,3.0,2.0,NaN,Canovanas,Puerto Rico,729.0,1200.0,2020-02-28,76900.0
745,for_sale,3.0,2.0,NaN,Canovanas,Puerto Rico,729.0,1200.0,2020-02-28,76900.0
802,for_sale,3.0,2.0,NaN,Canovanas,Puerto Rico,729.0,1200.0,2020-02-28,76900.0
829,for_sale,7.0,3.0,0.09,Dorado,Puerto Rico,949.0,1192.0,2019-06-28,110000.0
932,for_sale,3.0,2.0,NaN,Canovanas,Puerto Rico,729.0,1200.0,2020-02-28,76900.0
...,...,...,...,...,...,...,...,...,...,...
99993,for_sale,3.0,2.0,0.16,Worcester,Massachusetts,1604.0,1151.0,2001-08-29,274865.0
99996,for_sale,2.0,1.0,0.34,Auburn,Massachusetts,1501.0,1075.0,1999-06-07,349900.0
99997,for_sale,3.0,2.0,1.01,Shrewsbury,Massachusetts,1545.0,1632.0,1995-09-27,549000.0
99998,for_sale,3.0,2.0,0.12,Worcester,Massachusetts,1604.0,1332.0,2000-09-11,299000.0
99999,for_sale,3.0,3.0,21.67,Grafton,Massachusetts,1536.0,1846.0,2020-10-06,535000.0

In [15]:
df['bed']= df['bed'].fillna(0)
df['bath']= df['bath'].fillna(0)
df['house_size'] = df['house_size'].median()

C:\Users\lharm\AppData\Local\Temp\ipykernel_23652\1525055398.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bed']= df['bed'].fillna(0)
C:\Users\lharm\AppData\Local\Temp\ipykernel_23652\1525055398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bath']= df['bath'].fillna(0)
C:\Users\lharm\AppData\Local\Temp\ipykernel_23652\1525055398.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['house_size'] = df['house_size'].median()